<!DOCTYPE html>
<html>
<head>
	<title>Dolce Pizza - About</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href=".\css\style.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="page-header">
		<div class="row">
			<a href="./"><img class="col-md-3" src="./images/logo.png" alt="logo"></a> 
			<div class="col-md-7">
				<ul  class="list-inline">	
					<li><a class="list-inline-item" href="/">Home</a></li>
					<li><a class="list-inline-item" href="/menu">Menu</a></li>
					<li><a class="list-inline-item" href="/sales">Sales</a></li>
					<li><a class="list-inline-item" href="/signup">Sign Up</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<a href="./cart"><img class="cart" src="./images/cart.png" alt="cart" style="width:60px;height:60px;"><span class="badge" id="numItem">0</span></a>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="row">
			<img src="./images/pizza.jpg" style="width: 100%; height: 5%;">
		</div>
		<br>
		<div class="row">
			<h2 style="text-align: center;">Founded 1995 by Nicholas Emanuelo!</h2>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h4 style="text-align: center;">Dolce Pizza is a family gem and has been turning out pizzas since 1995. We are located at 555 NotReal Dr. next door to the Hop-a-day Inn. Come visit us! Our number is 555-PIZZA-IS-DELICIOUS. Open 24/7/365. We take Visa, Mastercard, even the clothes off your back! But remember: no shirt, no shoes, no service. Open 6 days a week.</h4>
			</div>

		<div class="row">
			<div class="col-md-12">
				<i><p style="text-align: center;">(Prices on website may not match facts or actual expenses.)</p></i>
			</div>
		</div>
	</div>

	<footer>
		<img class="logo-footer" src="./images/logo.png" alt="logo" height="100" width="150">
		<a class="list-inline-item" style="font-weight: bold;" href="./service.html">Customer Service</a>
		<a class="list-inline-item" href="./account.html">Account</a>
		<a class="list-inline-item" href="./special.html">Special</a>
		<a class="list-inline-item" href="./about.html">About</a>
		<div class="row">
			<div class="col-md-4">
				<p>Dolce Pizza was founded in 1967 by Nick Emanuelo and his son, Nick Emanuelo Jr. Together they began a pizza empire that has survived the ages through dedication to their pizza craft.</p>
			</div>
			<div class="col-md-4">
				<p>Nick Emanuelo Sr. prefers traditional Italian pizza, with fresh basil, olive oil, and mozzerella. Don't forget that he's Italian!</p>
			</div>
			<div class="col-md-4">
				<p>Nick Emanuelo Jr. loves to experiment with his pizza, comibining the best of both American and Italian culture, testing the boundarie- between culture, cuisine, and art</p>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="./js/cartOps.js"></script>
	<script type="text/javascript">showCart();</script>
</body>
</html>